
<h2>Stocks Dashboard</h2>

<p>Here is some data about <%= symbol %> ...</p>

<div id="chart-container">
</div>


<script type="text/javascript">
    console.log("STOCKS DASHBOARD...")

    var stockData = '<%- JSON.stringify(data) %>'
    console.log(stockData)

    // fetch JSON data
</script>
